<h1>Product</h1>
<table class="protbl">
	<tr>
		<td><b>Name:</b></td>
		<td><%= name %></td>
	</tr>
	<tr>
		<td><b>Category</b></td>
		<td><%= category %></td>
	</tr>
	<tr>
		<td><b>Price:</b></td>
		<td><%= price %></td>
	</tr>
	<tr>
		<td><b>Quantity:</b></td>
		<td><%= quantity %></td>
	</tr>
</table>
<button type="button" id="buy"><b>BUY</b></button>